<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="blobStorageConnection" value="DefaultEndpointsProtocol=https;AccountName=blobstoragealen;AccountKey=m2KGeQIXfiQv+livaBFDnayFmAwxxzgBa0Zfc4trzRzOnECtWQGOJ+GsQdlRH2fp3YG4edT842+OtawPwEhbHQ==;EndpointSuffix=core.windows.net" />
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>